# ML-25m Dataset

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# genome_scores.csv

|movieId   | tagID  | relevance |
|---|---|---|
| 1 | 1 | 0.028749999999999998  | 
| 1 | 2 | 0.023749999999999993 | 
| 1 | 3 | 0.0625 |

Notes:
* moviedId: id 
* tagId: id of tag, see genome_tags.csv
* relevance: tag relevance to the movie. It is a score between 0 and 1.

In [11]:
# import data
scores_df = pd.read_csv('./ml-25m/genome-scores.csv')

# get the number of unique movies 
num_movies = scores_df['movieId'].nunique()
print('Number of movies: ', num_movies)

Number of movies:  13816

# genome_tags.csv


|tagId   | tag  |
|---|---|
| 1 | 007  |
| 2 | 007 (series) |
| 3 | 18th century |

Notes:
* tagId: id 
* tag: the actual tag

In [10]:
# import data
tags_df = pd.read_csv('./ml-25m/genome-tags.csv')

# get the number of unique tags
num_tags = tags_df['tagId'].nunique()
print('Number of tags: ', num_tags)

Number of tags:  1128

# links.csv


|movieId   | imdbId  | tmdbId |
|---|---|---|
| 1 | 0114709  | 862  |
| 2 | 0113497 | 8844 |
| 3 | 0113228 | 15602 |

Notes:
* movieId: id
* imdbId: id 
* tmdbId: id

# movies.csv


|movieId   | title  | genres |
|---|---|---|
| 1 | Toy Story (1995)  | Adventure\|Animation\|Children\|Comedy\|Fantasy  |
| 2 | Jumanji (1995) | Adventure\|Children\|Fantasy |
| 3 | Grumpier Old Men (1995) | Comedy\|Romance |

In [17]:
movies_df = pd.read_csv('./ml-25m/movies.csv')

genres = movies_df['genres'].str.get_dummies(sep='|')
movies_df = pd.concat([movies_df, genres], axis=1)
movies_df.drop('genres', axis=1, inplace=True)

# get all the genres
genre_list = list(genres.columns)
print('Genres: ', genre_list)


movies_df.head()

Genres:  ['(no genres listed)', 'Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

,movieId,title,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

# ratings.csv


|userId   | movieId  | rating | timestamp |
|---|---|---|---|
| 1 | 296  | 5.0 | 1147880044  |
| 2 | 1029 | 3.0 | 1260759179 |
| 3 | 1061 | 3.0 | 1260759182 |